*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 微軟正黑體;
    }
#footer{
    background-color: #F2930C;
    padding:20px;
    height:150px;
    .container{
        .row{
            .col-3{
                img{
                    width:100px;
                    border-radius: 30px;
                }
            }
            .col-9{
                padding:30px;
                p{
                    font-size: 15px;
                    line-height:15px;
                }
            }
        }
    }
}