*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 微軟正黑體;
 }
nav{
    div{
        .navbar-brand{
            font-size: 2.25rem;
            margin-left:20px;
        }
    }
}
#banner{
    div{
        img{
            height:auto;
            width:100%;
        }
    }
}
#about{
    background-color: #F8F9FA;
    .aboutus_title{
        padding: 30px 60px;
    }
    .copywriting{
        padding:3rem 3rem 5rem 10rem;
        span{
            display: block;
            text-align:justify;
            font-size: 3vmin;
            line-height: 4.25rem;
        } 
    }
}

#content{
    background-color: #F7D588;
}
#footer{
    background-color: #F2930C;
    padding:20px;
    height:150px;
    .container{
        .row{
            .col-3{
                img{
                    width:100px;
                    border-radius: 30px;
                }
            }
            .col-9{
                padding:30px;
                span{
                    display:block;
                    font-size: 1.25rem;
                    line-height:35px;
                    font-family: 'Noto Serif TC', serif;
                }
            }
        }
    }
}